---


import Layout from '../layouts/Layout.astro';

---

<Layout
  description="AllTargeting, your one-stop destination for exceptional media and advertising services. With over 8 years of industry expertise and exclusive contracts with mega and intermediate influencers in the Middle East"
  title="jobs | all targeting"
>




<div class=" mt-40">




<div class="container ">




<div class="flex flex-wrap  mt-40 ">


<img src="/assets/brands/job.png" class="lg:w-3/5  h-full  w-full  mt-30 " alt="alltargeting job">




<div class="lg:w-2/5 w-full md:mx-auto py-20 mx-2 ">
  <div class="p-6 border border-gray-600 sm:rounded-md bg-gray-800 shadow-2">
    <form
      method="POST"
      action="https://herotofu.com/start"
      enctype="multipart/form-data"
    >
      <label class="block mb-6">
        <span class="text-gray-300">Your name</span>
        <input
          required
          name="name"
          type="text"
          class="
            block
            w-full
            mt-1
            border-gray-600
            rounded-md
            shadow-sm
            focus:border-teal-300
            focus:ring
            focus:ring-teal-200
            focus:ring-opacity-50
            bg-transparent
            placeholder-gray-600
            text-gray-300
          "
          placeholder="Joe Bloggs"
        />
      </label>
      <label class="block mb-6">
        <span class="text-gray-300">Email address</span>
        <input
          required
          name="email"
          type="email"
          class="
            block
            w-full
            mt-1
            border-gray-600
            rounded-md
            shadow-sm
            focus:border-teal-300
            focus:ring
            focus:ring-teal-200
            focus:ring-opacity-50
            bg-transparent
            placeholder-gray-600
            text-gray-300
          "
          placeholder="joe.bloggs@example.com"
        />
      </label>
      <label class="block mb-6">
        <span class="text-gray-400">Years of experience</span>
        <select
          required
          name="experience"
          class="
            block
            w-full
            mt-1
            border-gray-600
            rounded-md
            shadow-sm
            focus:border-teal-300
            focus:ring
            focus:ring-teal-200
            focus:ring-opacity-50
            bg-transparent
            placeholder-gray-600
            text-gray-300
          "
        >
          <option>Less than a year</option>
          <option>1 - 2 years</option>
          <option>2 - 4 years</option>
          <option>4 - 7 years</option>
          <option>7 - 10 years</option>
          <option>10+ years</option>
        </select>
      </label>
      <label class="block mb-6">
        <span class="text-gray-300">Tell us more about yourself</span>
        <textarea
          name="message"
          class="
            block
            w-full
            mt-1
            border-gray-600
            rounded-md
            shadow-sm
            focus:border-teal-300
            focus:ring
            focus:ring-teal-200
            focus:ring-opacity-50
            bg-transparent
            placeholder-gray-600
            text-gray-300
          "
          rows="3"
          placeholder="What motivates you?"
        ></textarea>
      </label>
      <label class="block mb-6">
        <span class="text-gray-300">Your CV</span>
        <input
          required
          name="cv"
          type="file"
          class="
            block
            w-full
            mt-1
            focus:border-teal-300
            focus:ring
            focus:ring-teal-200
            focus:ring-opacity-50
            bg-transparent
            placeholder-gray-600
            text-gray-300
          "
        />
      </label>
      <div class="mb-6">
        <div class="mt-2">
          <div>
            <label class="inline-flex items-center">
              <input
                name="remote"
                value="yes"
                type="radio"
                class="
                  text-teal-600
                  border-gray-600
                  rounded-full
                  shadow-sm
                  focus:border-teal-300
                  focus:ring
                  focus:ring-offset-0
                  focus:ring-teal-200
                  focus:ring-opacity-50
                  bg-transparent
                  placeholder-gray-600
               
                "
                checked
              />
              <span class="ml-2 text-gray-300"
                >You'd like to work remotely</span
              >
            </label>
          </div>
          <div>
            <label class="inline-flex items-center">
              <input
                name="remote"
                value="no"
                type="radio"
                class="
                  text-teal-600
                  border-gray-600
                  rounded-full
                  shadow-sm
                  focus:border-teal-300
                  focus:ring
                  focus:ring-offset-0
                  focus:ring-teal-200
                  focus:ring-opacity-50
                  bg-transparent
                  placeholder-gray-600
                 
                "
              />
              <span class="ml-2 text-gray-300"
                >You'd prefer to work onsite</span
              >
            </label>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <button
          type="submit"
          class="
            h-10
            px-5
            text-teal-100
            bg-teal-700
            rounded-lg
            transition-colors
            duration-150
            focus:shadow-outline
            hover:bg-teal-800
          "
        >
          Apply
        </button>
      </div>
      <div>
      
      </div>
    </form>
  </div>
</div>
</div>
</div>

</div>
</Layout>
