---



import Layout from '../layouts/Layout.astro';
import CTAsection from '../components/CTAsection.astro';
---

<Layout
  description="AllTargeting, your one-stop destination for exceptional media and advertising services. With over 8 years of industry expertise and exclusive contracts with mega and intermediate influencers in the Middle East"
  title="team | all targeting"
>








    <div class="flex items-center justify-between h- w-full  p-10  bg-white dark:bg-gray-900 h-full">
      
    
  
      <div class="xl:px-20 px-8 py-20 2xl:mx-auto 2xl:container relative ">
        <h1 class="text-5xl font-bold xl:block hidden leading-tight text-gray-800 dark:text-white ">
            What our customers are<br />
            saying
        </h1>
        <h1 class="text-5xl font-bold xl:hidden block leading-tight lg:leading-10 text-gray-800 dark:text-white ">What our customers are saying</h1>
      
        <div class="slider">
            <div class="slide-ana">
                
                <div class="flex relative" style="transform: translateX(0%)">
                    <div class="mt-14 md:flex">
                        <div class="relative lg:w-1/2 sm:w-96 xl:h-96 h-80">
                            <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" alt="image of profile" class="w-full h-full flex-shrink-0 object-fit object-cover shadow-lg rounded" />
                            <div class="w-32 md:flex hidden items-center justify-center absolute top-0 -mr-16 -mt-14 right-0 h-32 bg-indigo-100 rounded-full">
                               <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonial-svg1.svg" alt="commas"/>
                            </div>
                        </div>
                        <div class="md:w-1/3 lg:w-1/3 xl:ml-32 md:ml-20 md:mt-0 mt-4 flex flex-col justify-between">
                            <div>
                                <h1 class="text-2xl font-semibold xl:leading-loose text-gray-800 dark:text-white ">Some of the best work that was done!</h1>
                                <p class="text-base font-medium leading-6 mt-4 text-gray-600 dark:text-gray-200  ">Our core values are at the heart of all that we do. They are integrated into our daily work lives and help us to remember our customers always comes first, the last thank you should always comes from us.</p>
                            </div>
                            <div class="md:mt-0 mt-8">
                                <p class="text-base font-medium leading-4 text-gray-800 dark:text-white ">mina r</p>
                                <p class="text-base leading-4 mt-2 mb-4 text-gray-600 dark:text-gray-200  ">AllTArgeting CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>












<div class="container mx-auto my-10 "> 




<h1 class="text-5xl font-semibold leading-10 text-gray-800 dark:text-white text-center">Meet our team</h1>
<div class="flex flex-wrap items-stretch xl:justify-between justify-center mt-16 xl:gap-6 gap-4">
    <div class="lg:w-96 w-80">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" class="h-72 w-full object-cover object-center rounded-t-md" alt="woman smiling" />
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-b-md py-4 text-center">
            <p class="text-base font-medium leading-6 text-gray-600 dark:text-white">x1</p>
            <p class="text-base leading-6 mt-2 text-gray-800 dark:text-white">Designer</p>
        </div>
    </div>

    <div class="bg-teal-700 rounded-md lg:w-96 w-80 flex flex-col items-center justify-center md:py-0 py-12">
        <h3 class="text-2xl font-semibold leading-6 text-center text-white">About Team</h3>
        <p class="lg:w-80 lg:px-0 px-4 text-base leading-6 text-center text-white mt-6">
            Teamwork is the collaborative effort of a team to achieve a common goal or to complete task in the most effective way. This concept is seen in the greater framework of a team in which indipendent indiviuals who work together towards common goal basic requirement for effective team 
            and company
        </p>
    </div>

    <div class="lg:w-96 w-80">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" class="h-72 w-full object-cover object-center rounded-t-md" alt="woman in black dress" />
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-b-md py-4 text-center">
            <p class="text-base font-medium leading-6 text-gray-600 dark:text-white">x2</p>
            <p class="text-base leading-6 mt-2 text-gray-800 dark:text-white">Designer</p>
        </div>
    </div>
    <div class="lg:w-96 w-80">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" class="h-72 w-full object-cover object-center rounded-t-md" alt="woman smiling" />
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-b-md py-4 text-center">
            <p class="text-base font-medium leading-6 text-gray-600 dark:text-white">x3</p>
            <p class="text-base leading-6 mt-2 text-gray-800 dark:text-white">Writer</p>
        </div>
    </div>
    <div class="lg:w-96 w-80">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" class="h-72 w-full object-cover object-center rounded-t-md" alt="woman smiling" />
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-b-md py-4 text-center">
            <p class="text-base font-medium leading-6 text-gray-600 dark:text-white"> xe</p>
            <p class="text-base leading-6 mt-2 text-gray-800 dark:text-white">Developer</p>
        </div>
    </div>
    <div class="lg:w-96 w-80">
        <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708806353/3d-illustration-person-with-sunglasses_23-2149436188_nsgqtc.webp" class="h-72 w-full object-cover object-center rounded-t-md" alt="woman smiling" />
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-b-md py-4 text-center">
            <p class="text-base font-medium leading-6 text-gray-600 dark:text-white">x4</p>
            <p class="text-base leading-6 mt-2 text-gray-800 dark:text-white">Designer</p>
        </div>
    </div>
</div>


</div>











<style>
  .slider {
      width: 100%;
      height: 450px;
      position: relative;
      overflow: hidden;
  }

  .slide-ana {
      height: 500px;
  }

  .slide-ana > div {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 1s;
  }
  @media (min-width: 300px) and (max-width: 884px) {
      .slider {
          height: 650px;
      }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
      .slider {
          height: 381px;
      }
  }
  @media (min-width: 1024px) and (max-width: 1280px) {
      .slider {
          height: 379px;
      }
  }
</style>







</Layout>
