
<!-- ======  -->


<style>
  .radial-gradient {
   
    top:0px;
    left:0px;
  
    
    /*Fallback if gradeints don't work */
    background: #c7afd1;
    /*Linear gradient... */
    background: 
      radial-gradient(
       at center, #22d3ee, #09432e
      );
  }
  
  </style>
  
  <script>
  document.addEventListener('mousemove', function(event) {
    const windowWidth = window.innerWidth;
    const windowHeight = window.innerHeight;
  
    const mouseXpercentage = Math.round(event.pageX / windowWidth * 100);
    const mouseYpercentage = Math.round(event.pageY / windowHeight * 100);
  
    const elements = document.querySelectorAll('.radial-gradient');
  
    for (const element of elements) {
      element.style.background = `radial-gradient(at ${mouseXpercentage}% ${mouseYpercentage}%, #22d3ee, #09432e)`;
    }
  });
  </script>
  <section
    id="brands"
    class="relative z-20 overflow-hidden bg-white dark:bg-dark pt-20  lg:pt-[120px] "
  >
  
  
  <section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply  radial-gradient">
    <div class="px-4 mx-auto max-w-screen-xl text-center pt-24 ">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-transparent bg-clip-text bg-gradient-to-r to-emerald-100 from-sky-200 md:text-5xl lg:text-6xl">Get your brand to ring a bell</h1>
        <p class="mb-8 text-lg font-normal text-gray-50 lg:text-xl sm:px-16 lg:px-48"><span class="underline underline-offset-1 decoration-2 decoration-emerald-400 dark:decoration-emerald-600"> influencers </span> to achieve your campaign goals
        </p>
        <div class="flex flex-col  sm:flex-row sm:justify-center my-2">
            <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 dark:focus:ring-emerald-900">
                Get started
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center  my-2 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Learn more
            </a>  
        </div>
        
    </div>
    <img class="m-auto rounded-lg w-4/6 " src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708416160/alltargeting_lycxzl.webp" alt="all targeting brands">
  </section>
  
 <!-----------------------------------------
 
 --- --> 
  




<!-----------------------------   -->     


<div class="container mt-24 mx-auto md:px-6">

  <section class="mb-32 text-center lg:text-left">
    <style>
      @media (min-width: 992px) {
        .rotate-lg-6 {
          transform: rotate(6deg);
        }
      }
    </style>

    <div class="py-12 md:px-12">
      <div class="container mx-auto xl:px-32">
        <div class="flex grid items-center lg:grid-cols-2">
          <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
              <h2 class="mb-6 text-3xl font-bold dark:text-white">Why advertise with all targeting?</h2>
              <p class="mb-8 text-neutral-500 dark:text-white">
                Creators use AllTargeting products to run their business everyday providing you direct access.
              </p>

              <div class="grid  grid-cols-1">
                <div class="mb-6">
                  <p class="flex items-center dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-5 w-5 ">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Reach Unique Audience We provide influencers that match your target audience.
                  </p>
                </div>

                <div class="mb-6">
                  <p class="flex items-center dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-5 w-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Work with as many creators or as little as you like
                  </p>
                </div>

                <div class="mb-6">
                  <p class="flex items-center dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-5 w-5 ">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>Know who is watching your campaign
                  </p>
                </div>
                

       
              </div>
            </div>
          </div>
          <div class="md:mb-12 lg:mb-0">
            <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708424860/copy/infl3_ddamvi.webp"
              class="rotate-lg-6 w-full rounded-lg shadow-lg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<!-----------------





--- -->


























  
        
  
  
      
  
  
  
        <div class="pt-20 bg-white dark:bg-slate-900">
          <div class="relative sm:py-16 mb-10">
            <div aria-hidden="true" class="hidden sm:block">
              <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50 dark:bg-dark-2 rounded-r-3xl"></div>
              <img class="absolute top-4 left-1/2 -ml-3 w-96 h-auto transition ease-in-out duration-300" src="https://d1w019qw3bn26k.cloudfront.net/assets/patterns/dots-d961e9ea516df1683f513c8b487098915d6d8e473b5c3fbebccf0d801c6d09e1.png">
            </div>
            
            
            <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
              
              <div class="relative px-6  overflow-hidden shadow-xl rounded-3xl bg-teal-500 sm:px-12 ">
                
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                  <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360">
                    <path class="text-gray-200 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z"></path>
                    <path class="text-gray-100 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z"></path>
                  </svg>
                </div>
                <div class="relative">
                  <div class="mb-6 sm:text-center">
                    <div class="mt-10">
                      <h1 class=" text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white  mt-10  ">
                      ARE YOU A STARTUP?     </h1>
                          
                      <p class="  text-lg" > 
                        Compete with your niche lions
                        <span class="underline underline-offset-3 decoration-2 decoration-cyan-500 dark:decoration-teal-500"> using our services.</span>   
                      </p>
                  </div>
          
<div class="container my-10 mx-auto md:px-6">

  <section class="mb-32 text-center">
    <h2 class="mb-20 text-3xl font-bold">our services</h2>

    <div class="grid lg:grid-cols-3 lg:gap-x-12">
      <div class="mb-12 lg:mb-0">
        <div
          class="block h-full rounded-lg bg-white   shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-dark-2">
          <div class="flex justify-center">
            <div class="-mt-8 inline-block rounded-full  bg-teal-700 p-4  dark:text-white text-teal-400 shadow-md ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-7 w-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
              </svg>
            </div>
          </div>
          <div class="p-6 dark:text-white">
            <h5 class="mb-4 text-lg font-semibold">Content Marketing</h5>
            <p>
              Make your content be presented in the best possible form and impact your audience.
            </p>
          </div>
        </div>
      </div>

      <div class="mb-12 lg:mb-0">
        <div
          class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-dark-2">
          <div class="flex justify-center">
            <div class="-mt-8 inline-block rounded-full bg-teal-700 p-4 dark:text-white text-teal-400 shadow-md">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-7 w-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
              </svg>
            </div>
          </div>
          <div class="p-6 dark:text-white">
            <h5 class="mb-4 text-lg font-semibold">SEO Services</h5>
            <p>
              Get your message to use the superpowers of SEO and increase its visibility in search results.
            </p>
          </div>
        </div>
      </div>

      <div class="">
        <div
          class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-dark-2">
          <div class="flex justify-center">
            <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4  bg-teal-700 dark:text-white text-teal-400 shadow-md">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-7 w-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
              </svg>
            </div>
          </div>
          <div class="p-6 dark:text-white">
            <h5 class="mb-4 text-lg font-semibold">Pay Per Click</h5>
            <p>
              Start successful PPC campaigns can solve any kind of problem in your marketing funnel and get the highest returns.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
  </div>
</div>
    </div>
          </div>
        </div>
        
  
  
  



  
  
 
<div class="flex flex-col justify-center py-10">
  <img src="https://res.cloudinary.com/dt9k74vof/image/upload/v1708492422/all-tragetaa_ptefng.webp" class="w-full md:w-1/2 m-auto">
  <div class="text-center">  
    <p class="text-4xl ii">Be seen on all platforms Influncers</p>
    <p class="text-4xl ii">
      Like an octopus
    </p>
  </div>


</div> 
  








<style>


  .ii {
    position: relative;
    display: inline-block;
    color: #00db00;
    background: -webkit-linear-gradient(201.4deg,#00b4ff 5.3%,#00f100 84.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
</style>
        
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
     
    </div>
  </section>
