





































































<section class=" dark:bg-gray-900 py-20">


























  
  <div class="container px-6 py-10 mx-auto">



    <div class="flex flex-wrap w-full mb-0">

    
      <div class="w-full md:w-1/2 my-auto  ">
      <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl ">explore our <br> awesome <span class="underline decoration-teal-500">Services</span></h1>

      <p class=" mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
        Welcome to AllTargeting, your one-stop destination for exceptional media and advertising services.
        
        <br>
        
      <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 underline decoration-teal-500"> With over 8 years  </span>  of industry expertise and exclusive contracts with mega and intermediate influencers in the Middle East,
      <br> we are here to revolutionize your brand's reach and impact. Let us introduce you to our range of cutting-edge services:
      </p> </div>

      <img src="/assets/brands/ser.webp" class="w-full md:w-1/2 ">
    </div>















<ol class="border-l-2 border-info-100 ">
  <!--First item-->
  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >MCN Service For Creators</a
          >
      
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            We offer a comprehensive Multi-Channel Network (MCN) service tailored for creators. Our MCN service provides creators with tools, resources, and support to grow their audience, manage their content, and optimize their monetization strategies across various platforms
        </p>
    
        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
         More
        </button>
      </div>
    </div>
  </li>

  <!--Second item-->
  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >Content Creation</a
          >
     
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            Captivating content is at the heart of effective marketing. Our skilled content department consists of talented writers, designers, and video producers who craft compelling articles, stunning visuals, and captivating videos. From thought-provoking blog posts to eye-catching infographics, we deliver content that not only educates and entertains but also resonates with your audience, building a strong connection with your brand.
        </p>

        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
     More
        </button>
      </div>
    </div>
  </li>

  <!--Third item-->
  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >Paid Advertising And Brand Building</a
          >
     
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            Unlock your brand's potential with our paid advertising and brand building strategies. Our expert team employs targeted advertising campaigns across various platforms to boost your brand's visibility, engage your audience, and drive conversions. From social media ads to search engine marketing, we tailor our approach to your specific goals, ensuring maximum ROI and a stronger brand presence.
        </p>

        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
          More
        </button>
      </div>
    </div>
  </li>

  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >Influencer PR Services</a
          >
     
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            Take your influencer partnerships to the next level with our dedicated influencer PR services. We go beyond conventional influencer collaborations, providing comprehensive support and strategic guidance to both established and emerging influencers. Our PR services include brand representation, media outreach, and the creation of synergistic partnerships to enhance your influencers' reach and influence.        </p>

        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
     More
        </button>
      </div>
    </div>
  </li>







  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >Influencer Marketing</a
          >
     
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            Harness the power of influence and connect with your target audience like never before. Our influencer marketing service leverages our extensive network of influential personalities to create authentic and engaging campaigns that drive results. We carefully match your brand with the perfect influencers to amplify your message, increase brand awareness, and generate valuable leads.       </p>

        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
     More
        </button>
      </div>
    </div>
  </li>






  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[13px] flex h-[25px] w-[25px] items-center justify-center rounded-full bg-info-100 text-info-700">
        <span class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
        </span>
      </div>
      <div
        class="mb-10 ml-6 block max-w-full rounded-lg  bg-neutral-100 p-6 shadow-md shadow-black/5 dark:dark:bg-gray-800 dark:shadow-black/10">
        <div class="mb-4 flex justify-between">
          <a
            href="#!"
            class="text-xl text-teal-500 font-extrabold text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
            >Content Creation</a
          >
     
        </div>
        <p class="mb-6 text-neutral-700 dark:text-neutral-200">
            Captivating content is at the heart of effective marketing. Our skilled content department consists of talented writers, designers, and video producers who craft compelling articles, stunning visuals, and captivating videos. From thought-provoking blog posts to eye-catching infographics, we deliver content that not only educates and entertains but also resonates with your audience, building a strong connection with your brand.
        </p>

        <button
          type="button"
          class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init>
     More
        </button>
      </div>
    </div>
  </li>




</ol>




























































